{% extends 'base.html' %}

{% block content %}




<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2> Build your collection of tanks! </h2>
            <div>
                <button class="btn btn-primary">View our Docs</button>
                <button class="btn btn-primary">Join our Discord</button>
            </div>
        </div>
        <!-- Header Image-->
        <div class="col-12 col-md-6">
            <img src="#" alt="#" class="header-image">
        </div>
    </header>
    <!-- End of header section-->

<!-- Collection of Features Section -->
<section class="row" id="features-section">
    <div class="col-12 col-md-4">
        <img src="../../static/images/api.png" alt="api" id="api-png">
        <h4>Dedicated API Routes</h4>
        <p>If you are a fan of using traditional API routes, we have those for you!</p>
    </div>

    <div class="col-12 col-md-4">
        <img src="../../static/images/super-power.png" alt="superpower" id="super-power">
        <h4>GraphQL API Route</h4>
        <p>If you want all your tanks from on endpoint, we have that too!</p>
    </div>

    <div class="col-12 col-md-4">
        <img src="../../static/images/shield.png" alt="supershield" id="tank-shield">
        <h4>Backed by a PostgresSQL Database</h4>
        <p>All data will be persisted inside of a secure Postgres Database.</p>
    </div>
</section>
<!-- End of Collection Features-->

    <!-- Start of Middle Section-->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Collection!</h2>
            <p>You can harness the power of an API to expand your collection!</p>
        </div>
    </section>
    <!-- End of the Middle Section-->


    <!-- Community Section-->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="#" alt="#" id="#">
        </div>

        <div class="col-12 col-md-6">
            <h4>Talk with other tank enthusiasts, whether its history or modeling!</h4>
            <p>Talk with other enthusiasts around the globe and share interesting history,
                facts, or even modeling tips!
            </p>
            <div>
                <button class="btn btn-primary">View on Github</button>
                <button class="btn btn-primary">Join our Discord</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->

    <!-- Start of Footer-->
    <footer class="row" id="footer">
        <div class="col-3 col-md-3">
            <img src="../../static/images/Marvol Tanks Collection.png" alt="Marvol Tanks Collection" id="Marvol-image">
        </div>

        <div class="col-3 col-md-3">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Placeholder Text</p>
                <p>Placeholder Text</p>
                <p>Placeholder Text</p>
                <p>Placeholder Text</p>
                <p>Placeholder Text</p>
            </div>
        </div>

        <div class="col-3 col-md-3">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Placeholder Text</p>
                <p>Placeholder Text</p>
                <p>Placeholder Text</p>
                <p>Placeholder Text</p>
                <p>Placeholder Text</p>
            </div>
        </div>

        <div class="col-3 col-md-3">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Placeholder Text</p>
                <p>Placeholder Text</p>
                <p>Placeholder Text</p>
                <p>Placeholder Text</p>
                <p>Placeholder Text</p>
            </div>
        </div>
    </footer>

</div>
{% endblock content %}